@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
  margin: 0;
  padding: 0;
}
body{
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-style: normal;
} 
.navigation-bar {
  background-color: rgba(247, 154, 131, 255);
  width: 100%;
  height: 140px;
  display: flex;
  left: 50px;
  border-bottom: 1px solid white;
}
.nav-logo {
  width: 105px;
  height: 100px;
  margin-left: 45px;
  margin-top: 30px;
}
nav div div a {
  text-decoration: none;
  font-size: 22px;
  line-height: 20px;
  font-style: normal;
  font-family: Korolev;
  color: rgb(255, 255, 255);
}
.social-icon {
  width: 32px;
}
.social-icon:hover{
   cursor: pointer;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  align-items: center;
  gap: 60px;
}
.media-link {
  padding-right: 90px;
  display: flex;
  gap: 5px;
}
.nav-btn {
  display: flex;
  gap: 30px;
  color: white;
}
.nav-btn1:hover{
    text-decoration: underline;
}
.first-page-note {
  color: white;
  font-size: 60px;
}
.first-page {
  background-image: url(/7UP/images/image3.webp);
  height: 100vh;
  background-size: cover;
  display: flex;
}
.first-page-banner {
  position: absolute;
  left: 125px;
  top: 500px;
  font-size: 45px;
  line-height: 78px;
  color: white;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.btn-first-banner {
  text-decoration: none;
  border: 2px solid white;
  color: white;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  padding: 10px;
  border-radius: 56px;
  width: 28%;
  height: 28px;
  padding-left: 30px;
  padding-right: 30px;
}
.second-page {
  background-image: url(/7UP/images/image2.webp);
  height: 100vh;
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.second-page-banner {
  position: absolute;
  width: 40%;
  height: 260px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(2 88 41 / 77%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 15px;
  border-radius: 230px
  
}
.second-page-banner .h1 {
  
  font-size: 25px;
}
.second-page-banner .h2 {
  font-size: 22px;
}
.second-page-banner-btn {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}
.third-page{
    background-image: url(/7UP/images/image1.webp);
    height: 100vh;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.third-page-banner{
  position: absolute;
  width: 40%;
  height: 260px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(2 88 41 / 77%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 15px;
  border-radius: 230px
}
.third-page-banner-btn{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #3e3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; 
}
.footer-a-tags{
    text-decoration: none;
    color: white;
    display: flex;
    gap: 40px;
    margin-top: 18px;
}
footer a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold; 
    border-radius: 5px; 
    color: white
}
footer p{
    color: white;
}
.a-tags:hover{
   text-decoration: underline;
}
.copy{
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: small;
}
